<%= form_for(@registration, :class => "well form-inline") do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="required"><strong>Items in red are required.</strong></div>
  <br />
  <div class="field">
    <%= f.label :name, :class => :required %><br>
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :email, :class => :required %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Check to receive emails about future events.', :class => :small %><br>
    <%= f.check_box :can_email %>
  </div>
  <div class="field">
    <%= f.label "Team Name (if any)" %><br>
    <%= f.text_field :team_name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :birthday, :class => :required %><br>
    <%= f.date_select :birthday, :prompt => {:year => 'year', :month => 'month', :day => 'day'},
                                 :start_year => Date.current.year, :end_year => 1920,
                                 :order => [:month, :day, :year]  %>
  </div>
  <div class="field">
    <%= f.label "Street Address", :class => :required %><br>
    <%= f.text_field :address, :size => 40 %>
  </div>
  <div class="field">
    <table>
    <tr>
    <td><%= f.label :city, :class => :required %></td>
    <td><%= f.label :state, :class => :required %></td>
    <td><%= f.label :zip, :class => :required %></td>
    </tr><tr>
    <td><%= f.text_field :city %></td>
    <td><%= f.text_field :state, :size => 2 %></td>
    <td><%= f.text_field :zip, :size => 5 %></td>
    </tr>
    </table>
  </div>
  <div class="field">
    <%= f.label :phone, :class => :required %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
