<h2>Journey will start at Everett Middle School on Saturday November 9th.
  <br />Please bring your printed and signed waiver by 6pm so that we can start the game at 7.</h2>

<br/><h3>To keep up to date on pre-game and during-game notifications, follow <a href="https://twitter.com/jtteotn">@jtteotn</a> on twitter.</h3>

<br/><h3>You may reprint your waivers or unregister below:</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.email %></td>
        <td><%= registration.team_name %></td>
        <td><%= link_to 'Reprint', registration %></td>
        <td><%= link_to 'Unregister', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>You can also fill out the registration form for other players coming with you. Remember, each player must register and bring their printed and signed waiver!</h3>

<%= link_to 'Register Another Player', new_registration_path %>
