<h2>Journey will start at <%= current_game.start_location %> on <%= current_game.local_starts_at.strftime("%A %B %d") %>.
  <br />Please bring your printed and signed waiver by <%= current_game.local_starts_at.strftime("%l%P") %> so that you receive your materials in time to start.</h2>

<br/><h3>To keep up to date on pre-game and during-game notifications, follow <a href="https://twitter.com/jtteotn">@jtteotn</a> on twitter.</h3>

<br/><h3>You may reprint your waiver below. If you need to correct your information, please contact us.</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.email %></td>
        <td><%= registration.team_name %></td>
        <td><%= link_to 'Reprint', registration %></td>
        <!--
        <td><%= link_to 'Edit', edit_registration_path(:id => registration.id) %></td>
        <td><%= link_to 'Unregister', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "donations/donate_form" %>
