<section id="services_signin" class="services">
  <h1>Journey to the End of the Night</h1>
  <h2>Saturday November 9, 2013: 6pm</h2>

  <h2>You will need to register in order to play!  <%= @num_remaining %> spots left.</h2>
  <p>First, sign in using Facebook, Twitter, Google, or OpenID. Please select the provider you want to use:
  </p>

  <div>
    <%= render "/services/services_list" %>
  </div>

  <p class="clear">
  Don't have any of these accounts? Get your <%= link_to "MyOpenID", "http://www.myopenid.com/" %> or <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %> now! If you want to learn more about OpenID or find more OpenID providers, you can get more information at <%= link_to "openid.net", "http://openid.net" %>.
  </p>
</section>