<!DOCTYPE html>
<html>
<head>
  <title>Sfjourney</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="head" class="noprint">
    <section id="user">
        <% if user_signed_in? %>
            <nav id="nav_user">
                <ul>
                    <span><%= current_user.email %></span>
                    <li><%= link_to "Settings", services_path %>
                    <li><%= link_to "Sign out", signout_services_path %></li>
                </ul>
            </nav>
        <% else %>
            <nav id="nav_user">
                <ul>
                    <span>Sign in with:</span>
                    <li><%= link_to "Twitter", "/auth/twitter" %>
                    <li><%= link_to "Facebook", "/auth/facebook" %></li>
                    <li><%= link_to "Google", "/auth/google" %></li>
                    <li><%= link_to "Other", signin_services_path %>
                </ul>
            </nav>
        <% end %>
    </section>
</section>

<section id="body">
    <section id="flash" class="noprint">
        <% flash.each do |key, value| %>
            <div class="flash <%= key %> round"><%= value %></div>
        <% end %>
    </section>

    <%= yield %>
</section>

<section id="footer" class="noprint">
  <nav id="nav_footer">
      <ul>
          <li><%= link_to "Privacy Policy", "/privacy" %></li>
          <li><%= link_to "Terms of Service", "/tos" %></li>
      </ul>
  </nav>
</section>

</body>
</html>


